
body {
    background: url("../images/italy.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header {
    text-align: center;
}

#head {
    font-size: 40pt;
    font-family: sans-serif;

}

#wrapper {
    background-color: rgba(200, 200, 200, 0.5);
    width: 40%;
    text-align: center;
    justify-content: left;
    margin-left: 450px;
    margin-top: 20px;
    padding-bottom: 10px;
    border: white 2px solid;
    font-family: sans-serif;
    padding-left: 30px;
}