
body {
    background: url("../images/italy.jpg") no-repeat center center fixed;
        background-size: cover;
}
header {
    text-align: center;
}

#head {
    font-size: 40pt;
    font-family: sans-serif;

}

#wrapper {
    background-color: rgba(200, 200, 200, 0.5);
    width: 40%;
    font-size: 18px;
    text-align: center;
    margin-left: 450px;
    padding-bottom: 10px;
    border: white 3px solid;
    font-family: sans-serif;
    padding-left: 10px;
}